footer{
    .container{
        bottom: 0;
        display: grid;
        @include tamaño(100%,auto);
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 3rem;
        margin-top: auto;
        .redes-general{
            text-align: center;
            margin-bottom: .625rem;
            margin-left: 0;
        }
        .copyright{
            font-size: 2.1875rem;
            text-align: center;
        }
    }
}
